@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior : smooth;
    background: rgb(208, 208, 255);
}
body{
    font-family: 'Montserrat', sans-serif;
}
.watermark{
    position: fixed;
    font-size: 15rem;
    font-weight: bold;
    opacity: 0.04;
    bottom: 100px;
}
header{
    position: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    background-color: rgb(74, 74, 156);
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 200px;
    color: var(--text-nav);
}
@media (min-width: 900px) {
    nav{
        display: flex;
    justify-content: space-between;
    }
h1{
    color: rgb(74, 74, 156);
}
h3{
    padding-left: 10px;
    color: e;
    color: white;
}
h4{
    color: white;
}
.myInfo{
    colour: white;
}
.nav-head{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.myInfo{
    text-align: center;
    color: rgb(74, 74, 156);
    text-align: left;
}
.social{
    position: fixed;
    bottom: -0px;
    transition: 500ms ease;
    padding-left: 1050px;
}
.social:hover{
    bottom: 100px;
}
.social::after{
    content: '';
    height: 100px;
    width: 50px;
    background-color: rgb(74, 74, 156);
    position: absolute;
    right:30px;
}


::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: rgb(74, 74, 156);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(133, 133, 255);
    border-radius: 0.5rem;
}
.content{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    color:rgb(74, 74, 156)
}
.navigation{
    position: fixed;
    width: 100%;
}