@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior : smooth;
    background: black;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.watermark{
    position: fixed;
    font-size: 15rem;
    font-weight: bold;
    opacity: 0.11;
    bottom: 100px;
    color:grey;
}
.top_image{
    height: 500px;
    width: 500px;
    padding-left: 720px;
    padding-bottom: 50px;

}
img{
    height: 500px;
    width: 500px;
    padding-left: 370px;
    padding-top: 30px
}
header{
    padding-left: 20px;
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: px;
    background-color: #FFCE61;
}
.logo{
    width: 70px;
    height: 100px;
    padding-top: 30px;
}
.logo-header{
    padding-left: 780px;
    display:flex;
    background-position: top;
}
.logoo{
    height: 50px;
    width: 90px;
}
.banner {
    display: flex;
    padding-bottom: 230px;
    padding-top: 120px;
    padding-left: 530px;
    color: var(--text-nav);
    color:#FFCE61;
}
@media (min-width: 900px) {
    nav{
        display: flex;
    justify-content: space-between;
    }
h1{
    color: #FFCE61;
}
h3{
    padding-left: 10px;
    color: #FFCE61;
    color: black;
}
h4{
    color: #FFCE61;
}
.myInfo{
    text-align: center;
    color: #FFCE61;
    text-align: left;
}
.nav-head{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    position: fixed;
    bottom: -0px;
    transition: 200ms ease;
}
.social:hover{
    bottom: 50px;
}
.social::after{
    content: '';
    height: 200px;
    width: 35px;
    background-color: #FFCE61;
    position: absolute;
    right: 2%;
    left: 25%;
    padding-left: 200px;

}
.social ul{
    display: inline-flex;
    row-gap: 2rem;
    
}
.social img{
    width: 30px;
    padding: 5px;
    padding-bottom: 10px;
    filter: grayscale(1);
    transition: filter 100ms ease;
}
.social img:hover{
    filter: grayscale(0);
    box-shadow: 0 0 0.125 var(--text-nav);
}

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background: #FFCE61;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 0.5rem;
}
.content{
    text-align: right;
    padding-top: 100px;
    padding-right:30px;
    padding-bottom: 100px;
    color:white;
    background-color: #FFCE61;
}
.navigation{
    position: fixed;
    width: 100%;
}
footer{
    padding-left: 20px;
    padding-top:200px;
    padding-bottom: 3px;
}