@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html{
    scroll-behavior : smooth;
    background: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
}
.navbar img{
    padding-top:15px;
}
.navbar h3{
    padding-top: 10px;
}
.navbar ul{
    margin-left: 600px;
    margin-top: 30px;
    text-align: right;
}
.navbar li{
    display: inline;
    margin: 7px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
header nav .left a{
    color: black;
    text-decoration: none;
}
.branding{
    padding-bottom: 25px;
    margin-left: 0px;
}
.flex{
    display: flex;
}
.items-center{
    align-items:center;
}
.watermark{
    position: fixed;
    font-size: 15rem;
    font-weight: bold;
    opacity: 0.11;
    bottom: 100px;
    color:grey;
}
.top_image{
    height: 440px;
    width: 440px;
    padding-left: 720px;
    padding-bottom: 50px;
    margin-top: 70px;
}
.intro{
    color: #FFCE61;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 100px;;
}
.proj{
    color: #FFCE61;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.lenghtConverterApp{
    text-decoration: none;
    color: #FFCE61;
}
header{
    padding-left: 20px;
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 80px;
    background-color: #FFCE61;
}
.logo{
    width: 70px;
    height: 100px;
    padding: 10px;
}
.img{
    height: 490px;
}
.banner-img{
    padding-left: 400px;
    height: 75px;

}
.logo-header{
    padding-left: 780px;
    display:flex;
    background-position: top;
}
.logoo{
    height: 50px;
    width: 90px;
}
.banner {
    display: flex;
    padding-bottom: 230px;
    padding-top: 120px;
    padding-left: 530px;
    color:#FFCE61;
    text-align: center;
    font-size: large;
}
.social li{
    display: inline;
}
.social img{
    height: 40px;
    width: 40px;
}

h1{
    color: #FFCE61;
}

h4{
    color: #FFCE61;
}
.myInfo{
    text-align: center;
    color: #FFCE61;
    padding-bottom: 60px;
    font-size: 18px;
}


.social{
    position: fixed;
    bottom: -20px;
    transition: 200ms ease;
}

.social:hover{
    bottom: 30px;
}

.social img{
    padding: 20px;
    filter: grayscale(1);
    transition: filter 160ms ease;
}

.social img:hover{
    filter: grayscale(0);
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: #FFCE61;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(226, 36, 109, 0.767);
    border-radius: 0.5rem;
}

.content{
    text-align: right;
    padding-top: 100px;
    padding-right:30px;
    padding-bottom: 100px;
    color: black;
    background-color: #FFCE61;
}
footer{
    padding-left: 20px;
    padding-top:60px;
    padding-bottom: 3px;
}
.social{
    position: -webkit-sticky;
    right: 30px;
}